/* basic.css
 * 
 * contains look-and-feel, as well as universal elements:
 * - header
 * - dropdown menu
 * - main container
 * - footer
 * and related effects.
 *
 * By Jeremiah Glover, 2019-2020
 */
 
 * {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: sans-serif;
}

/* Header styles and animations */
#header {
	position: fixed;
	margin-bottom: -50px;
	background-color: #000;
	animation-duration: 0.5s;
}

@keyframes header-collapse {
    from {
        font-size: 1em;
        width: 100%;
        top: 0;
        right: 0;
        height: 50px;
        border-radius: 0;
    }
    to {
        font-size: 0;
        width: 30px;
        top: 10px;
        right: 10px;
        height: 30px;
        border-radius: 20px;
    }
}

@keyframes header-expand {
    from {
        font-size: 0;
        width: 30px;
        top: 10px;
        right: 10px;
        height: 30px;
        border-radius: 20px;
    }
    to {
        font-size: 1em;
        width: 100%;
        top: 0;
        right: 0;
        height: 50px;
        border-radius: 0;
    }
}

#title-heading {
    display: inline-block;
    font-size: 2em;
}

#menu-icon {
    position: fixed;
    top: 15px;
    right: 15px;
}

.full-header {
    display: inline-block;
    color: white;
    width: 100%;
    top: 0;
    right: 0;
    height: 50px;
    border-radius: 0;
}

.full-header a:hover {
    text-decoration: underline;
}

.bubble-header {
    color: transparent;
    width: 30px;
    top: 10px;
    right: 10px;
    height: 30px;
    border-radius: 15px;
    font-size: 0;
}


/* Dropdown Menu and animations*/

/* Important: the dropdown menu expands from the bubble header. */

/* default dropdown style */
#dropdown {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #000;
    color: white;
    animation-duration: 0.5s;
    border-radius: 15px;
}

.full-dropdown {
    width: 230px;
    border-radius: 20px;
    font-size: 100%;
}

.bubble-dropdown {
    width: 30px;
    height: 30px;
    font-size: 0px;
}

div.full-dropdown a {
    display: block;
    width: 210px;
}

div.full-dropdown a:hover {
    background-color: gray;
}

.dropdown-last-element {
    border-radius: 0 0 15px 15px;
}

div.bubble-dropdown a {
    display: block;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

@keyframes dropdown-expand {
    from {
        font-size: 0;
        width: 30px;
        top: 10px;
        right: 10px;
        height: 30px;
        border-radius: 15px;
    }
    to {
        font-size: 100%;
        width: 230px;
        height: 325px;
        top: 10px;
        right: 10px;
        border-radius: 15px;        
    }
}

@keyframes dropdown-collapse {
    from {
        font-size: 1em;
        width: 230px;
        height: 325px;
        top: 10px;
        right: 10px;
        border-radius: 15px; 
    }
    to {
        font-size: 0;
        width: 30px;
        top: 10px;
        right: 10px;
        height: 30px;
        border-radius: 15px;
    }
}

#dropdown-first-element {
    border-radius: 15px 0 0 0;
    font-size: 1.5em;
    width: 180px;
}




/* Main content styles */

#content {
	min-height: 100%;
}
#main {
    margin-top: 75px;
	padding: 75px 50px;
}

article {
    
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	height: 75px;
	margin-top: -75px;
	background-color: #ddd;
}
